:root {
--primary-color:#b5e7a0;
--text-color: white;
--button-color:#86af49;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background:#d5e1df;
    color: #3e4444;
}

.navtext {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background:#d5e1df;
    color: #3e4444;
    text-decoration: none;
}


.navbar {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1rem;
align-items: center;
justify-content: center;
text-align: center;
}

.navbar > div {
padding: 1rem;
}

.navbar div:hover {
    cursor: pointer;
    opacity: 70%;
}

.fa-shield-halved {
   padding: 1rem;
}

.mutulink {
    display: inline-block;
    background: var(--button-color);
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 8px;
       
}

.mutulink:hover {
    opacity: 70%;
}

.show {
    display:grid !important;
}

.tab-1-content-inner {
    display: block;
    align-items: center;
}

iframe {
    display: block;
    width: 840px;
    height: 480px;
    margin: auto;
}

.indikator-small {
    display: none;
}

.body-text {
    text-align: center;
    font-size: 1.2rem;
}

.tab-2-content-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tab-3-content-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tab-4-content-inner {
    display: grid;
    background: var(--button-color);
    text-align: justify;
}

#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content,
#tab-5-content {
    display: none;
} 

.perpus {
    display: grid;
    text-decoration: none;
    padding: 1rem;
    color: var(--text-color);
}

@media (max-width: 700px) {
    iframe {
        display: block;
        width: 600px;
        height: 400px;
        margin: auto;
    }
}

@media (max-width: 400px) {
   
    #tab-2-content .tab-2-content-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    
    #tab-3-content .tab-3-content-inner {
        grid-template-columns: 1fr;
    }

    iframe {
        display: block;
        width: 360px;
        height: 360px;
        margin: auto;
    }

    .navtext {
        display: none;
    }
    
    .indikator-small {
        display: block;
    }

    .indikator {
        display: none;
    }

    .tab-1-content-inner {
        display: grid;
        align-items: center;
        max-width: 360px;
    }
}
